body {
    background-color: #2c3e50;
    color: #34495e;
    /* font-family: 'Advent Pro', sans-serif; */
    font-family: 'Do Hyeon', sans-serif;
    padding: 80px;
}

h1 {
    margin: 0;
    font-weight: 500;
    font-size: 150px;
}
h2 {
    font-size: 40px;
    color: rgb(206, 119, 87);
    text-align: center;
}
.btn {
    cursor: pointer;
}

.center {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.js-weather {
    position: absolute;
    top: 2%;
    right: 1%;
    font-size: 20px;
    font-weight: 500;
}

.js-clock {
    border: 15px solid #e1e1e1;
    color: #fff;
    margin: 30px 0px;
    width: 600px;
    text-align: center;
}

.clicked {
    color: #7f8c8d;
}

.form,
.greetings {
    display: none;
}

.showing {
    display: block;
    font-size: 40px;
    color: #fff;
    margin: 0px 0px 10px;
}

input {
    border: none;
    border-bottom: 3px solid #fff;
    background: none;
    width: 500px;
    height: 50px;
    margin: 20px 0px;
    font-size: 30px;
    color: #fff;
}

input::placeholder {
    color: #fff;
    font-size: 30px;
    font-family: 'Advent Pro', sans-serif;
}

input, button:focus {
    outline: none;
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.bgImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    animation: fadeIn 0.5s linear;
}

.js-toDoList {
    width: 500px;
    margin: 0;
}

.js-toDoList li {
    list-style: none;
    margin: 10px 0px;
}

.js-toDoList li button{
    border: none;
    background: none;
    font-size: 35px;
    margin-right: 10px;
}

.js-toDoList li span{
    font-size: 35px;
    color: #fff;
    font-weight: 500;
}